<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyContatos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/perfil.css">
</head>

<body class="bg-light">
    <nav class="navbar navbar-light bg-dark">
        <a href="/login"><span class="navbar-brand text-light mb-0 h1"> Login</span></a>
        <a href="/"><span class="navbar-brand text-light mb-0 h1"> Inicio</span></a>
        <a href="/#"><span class="navbar-brand text-light mb-0 h1"> Sair</span></a>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-1 col-md-1"></div>
            <div class="col-11 col-md">
                <h5>Faculdade</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Universidade projeção</a></li>
                  <li><a class="text-muted" href="#">Feature aleatória</a></li>
                </ul>
            </div>
            <div class="col-11 col-md">
                <h5>Sobre mim</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Guilherme Duarte Amaral</a></li>
                    <li><a class="text-muted" href="#">Matricula - 202014201</a></li>
                    <li><a class="text-muted" href="#">Sistemas da informação</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Sobre mim</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cassio Moreira de Souza</a></li>
                    <li><a class="text-muted" href="#">Matricula - 202021041</a></li>
                    <li><a class="text-muted" href="#">Sistemas da informação</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Sobre mim</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Guilherme Duarte Amaral</a></li>
                    <li><a class="text-muted" href="#">Matricula - 202014201</a></li>
                    <li><a class="text-muted" href="#">Sistemas da informação</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>