{% extends 'base.html' %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="./static/css/login.css">

<p class="text-primary">{{msg}}</p>
<form action="/login" method="post">
  <input type="text" name="login" placeholder="login">
  <input type="password" name="senha" placeholder="senha">
  <input type="submit" value="Log In">
</form>
<a href="/cadastrar">cadastrar</a>
{% endblock %}